				body {
				overflow-x: hidden;
				overflow-y: auto;
				background-image: url("https://rawgit.com/bomatthew1/LearningRepository/master/Vegan-Pizza!.jpg");
				background-size: 100% 100%;
				background-repeat: no-repeat;
				}
				
				a {
				text-decoration: none;
				}

				table {
				width: 60%;	
				border: 2% dashed green;
				border-radius: 25px;
				margin: auto;
				}
				
				#the-content {
				border: 2% dashed black;
				border-radius: 25px;
				margin: auto;
				width: 60%;
				}
				
				#body {
				border: 2% dashed pink;
				position: relative;
				border-radius: 25px;
				}
				
				footer {
				border: 2% dashed yellow;
				position: relative;
				border-radius: 25px;
				}
