				body {
				overflow-x: hidden;
				overflow-y: auto;
				background-image: url("https://cdn.rawgit.com/bomatthew1/LearningRepository/master/This-should-be.jpg");
				background-size: 100% 100%;
				background-repeat: no-repeat;
				}
				
				a {
				text-decoration: none;
				}

				table {
				width: 70%;
				border-radius: 25px;
				border: 5px dashed transparent;
				margin: auto;
				}
				
				#the-content {
				border: 5px dashed transparent;
				border-radius: 25px;
				margin: auto;
				width: 60%;
				}
				
				#body {
				border: 5px dashed transparent;
				position: relative;
				border-radius: 25px;
				}
				
				footer {
				border: 5px dashed yellow;
				position: relative;
				border-radius: 25px;
				}
				
				th {
				padding: 10px;			
				}
				
				#introduction {
				border: 5px solid black;
				position: relative;
				border-radius: 25px;
				}
